################
*.elc
.session
.wcy_desktop_save
abbrev_defs
ac-comphist.dat
/.emacs.d/eshell/history
/.emacs.d/server/server
/.emacs.d/auto-save-list
/.emacs.d/eshell
/.emacs.d/my_config/*.el~
/.emacs.d/auctex-11.88-e24.4-msw
/.emacs.d/elpa
/.emacs.d/el-get/auto-complete
/.emacs.d/el-get/color-theme-solarized
